nav {
  font: var(--tx-sm);
  display: flex;
  align-items: center;
  gap: 11px;

  margin-top: 4.5rem;
  margin-left: 7.5rem;

   span {
    font-size: 25px;
   }

   img {
    width: 40px;
    height: 40px;
   }
}

@media (max-width: 768px) {
  nav {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}