.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  
  width: calc(100% - 19.5rem);
  max-width: 100%;
  height: auto;
  overflow: hidden;
  /* background-color: blue; */
  
  margin-top: 4.5rem;
  margin-left: 9rem;
  margin-right: 12rem;

  .sinopse {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  #title {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font: var(--overline);

    p {
      background: var(--gradient-content);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
  }
  
  .questions {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: .2rem;

    img {
      width: 20px;
      height: 20px;
      filter: brightness(0) saturate(100%) invert(67%) sepia(26%) saturate(1180%) hue-rotate(235deg) brightness(98%) contrast(90%);
    }

    #tx1 {
      font: var(--pg-md);
      display: flex;
      /* justify-content: end; */
      align-items: center;
      gap: 8px;
      color: var(--content-brand);
    }

    #tx2 {
      font: var(--pg-sm);
      display: flex;
      padding-left: 1.8rem;
      color: var(--content-secondary);
    }
  }

  .content-form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    padding-top: 2rem;

    h2 {
      font: var(--lb-md);
      color: var(--content-primary);
    }

    p {
      font: var(--lb-sm);
      color: var(--content-secondary);
    }

    .number-content {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    } 

    .number {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: .75rem;
    }

    .field {
      display: flex;
      flex-direction: column;
    }
  }
}
